<div class="container merch-page">
  <div class="inner-box">
    <h1 class="text-center">comming soon...</h1>
    <p class="text-center">Checkout our merch on <%=link_to("bandcamp","https://joerisdon.bandcamp.com/merch", target: 'blank')%></p>
    <div class="bandcamp-btn">
      <%=link_to("<i class='fa fa-bandcamp fa-4x'></i>".html_safe, "https://joerisdon.bandcamp.com/merch", target: 'blank', class: "text-center") %>
    </div>
  </div>
</div>
