<div class="albums">
  <h1 class="container">Albums</h1>

  <div class="albums-container row">

    <a href="/albums/1">
      <div class="album">
        <%= image_tag('homegrownart.jpg', class: "") %>
        <p class="album-title">Homegrown (2016)</p>
      </div>
    </a>

  </div>

</div>
