<div class="albums">
  <h1 class="container">Albums</h1>

  <div class="albums-container row">
    <!-- <div class="album">
      <%= image_tag('buffalo3.jpg', class: "") %>
      <p class="album-title">BeefStock Collection (2017)</p>
    </div> -->
    <a href="https://joerisdon.bandcamp.com/releases" target="blank">
      <div class="album">
        <%= image_tag('homegrownart.jpg', class: "") %>
        <p class="album-title">Homegrown (2016)</p>
      </div>
    </a>
    <!-- <div class="album">
      <%= image_tag('buffalo2.jpg', class: "") %>
      <p class="album-title">II (2013)</p>
    </div>
    <div class="album">
      <%= image_tag('buffalo1.jpg', class: "") %>
      <p class="album-title">I (2012)</p>
    </div> -->
  </div>

</div>
