$background-color-brown: #2F2822
$background-color-grey: #272933
$dark-orange: #EF9737
$light-orange: #FEC86A
$pale-yellow: #FEE4A2
$gray: #A49988


$header-fontstack: monospace
$body-fontstack: sans-serif

$break-xs: 350px
$break-sm: 500px
$break-md: 750px
$break-lg: 1200px
