@import 'variables';

.albums-index {
  text-shadow: 1px 1px black;
  .artist-section {
    margin: 5vw auto;
    .artist-name {
      font-size: calc(40px + 2.5vw);
      text-align: center;
    }
    .album-section {
      .album-info {
        .album-title {
          text-align: center;
          font-family: $header-fontstack;
          font-size: calc(10px + .5vw);
        }
        .album-art {
          padding:1vw 2vw;
          img {
            border: 5px solid $pale-yellow;
            width: 300px;
            height: 300px;
            &:hover {
              opacity: 0.8;
            }
          }
        }
      }// .album-info
    } // .album-section
  }
}



.albums {
  .all-albums-link {
    color: $pale-yellow;
    font-family: $header-fontstack;
    font-size: 1.5em;

    letter-spacing: 2px;
  }
  .header-link {
    display: block;
    color: $pale-yellow;
  }
  .albums-container {
    margin: auto;

    @media only screen and (min-width: $break-xs){
      width: 318px;
    }

    @media only screen and (min-width: $break-md) {
      width: 568px;
    }
    @media only screen and (min-width: $break-lg) {
      width: 1124px;
    }
    a {
      text-decoration: none;
    }
    .album {
      margin: 3px;
      .album-title {
        display: table;
        margin: auto;
        color: $pale-yellow;
      }
      img {
        border: 4px solid $light-orange;
        width: 250px;
        height: 250px;
        display: table;
        margin: auto;
        &:hover {
          border-color: $pale-yellow;
        }
        @media only screen and (min-width: $break-xs){
          width: 300px;
          height: 300px;
        }
        @media only screen and (min-width: $break-md) {
          width: 270px;
          height: 270px;
        }
      }
      @media only screen and (min-width: $break-xs){
        width: 300px;
        height: 350px;
      }
      @media only screen and (min-width: $break-md) {
        width: 270px;
        height: 320px;
      }
    }
  }
}

.fa-bandcamp{
  font-size: calc(10px + 1vw);
  color: $pale-yellow;
  &:hover {
    color: $dark-orange;
  }
}

.admin-links {
  display: table;
  margin: auto;
  margin-top: 5px;
  a {
    margin: 2px;
  }
}

.new-album-button {
  display: inline-block;
  height: 250px;
  width: 250px;
  border: 1px dashed $pale-yellow;
  text-align: center;
  a {
    color: $pale-yellow;
    vertical-align: middle;
    line-height: 250px;
    font-size: 7em;
  }
  &:hover {
    border-color: $light-orange;
    a {
      color: $light-orange;
    }
  }
}

// SINGLE ALBUM SHOW PAGE CSS BELOW
.album-show-page {
  padding-top: 20px;
  margin-bottom: 20vw;
  width: 90%;
  margin: auto;
  text-shadow: 1px 1px black;
  .title {
    text-align: center;
    font-family: $header-fontstack;
    font-size: calc(20px + 4vw);
    padding-bottom: 3vw;
  }
  .album-art {
    iframe, .album-image{
      width:30vw !important;
      height: 30vw !important;
      min-width: 310px;
      min-height: 310px;
      max-width: 450px;
      max-height: 450px;
      border: 5px solid $pale-yellow !important;
      background: url('loading.gif') no-repeat center center;
      background-size: 50px;
    }
  }
  .album-info {
    font-size: calc(10px + 1.5vw);
    padding: 2vw;
    strong {
      color: $pale-yellow;
      font-family: $header-fontstack;
      letter-spacing: 1px;
    }
    .album-description {
      padding-top: 10px;
      font-size: calc(8px + 1vw);
    }
    @media only screen and (min-width: $break-lg) {
      .album-description {
        width: 50vw;
      }
    }
  }
  .all-albums-link {
    font-family: $header-fontstack;
    color: $pale-yellow;
    font-size: calc(10px + 3vw);
    padding-top: 8vw;
    padding-bottom: 6vw;
  }
}
@media only screen and (min-width: $break-lg) {
  .album-content, .album-show-page {
    margin-bottom: 10vw;
  }
}
@media only screen and (min-width: $break-xl) {
  .album-content, .album-show-page {
    margin-bottom: 300px;
  }
}



.hidden {
  display: none;
}

// SHOWCASE ON HOME PAGE CSS BELOW
.showcase {
  padding: 30px;
  padding-top: 0px;
  .header {
    margin-bottom: 6vw;
    h1 {
      text-align: center;
      font-size: calc(20px + 3.5vw);
    }
  }
  iframe {
    width:30vw;
    height: 30vw;
    min-width: 310px;
    min-height: 310px;
    max-width:697px;
    max-height:697px;
    border: 5px solid $pale-yellow;
    background: url('loading.gif') no-repeat center center;
    background-size: 50px;
  }
}

@media only screen and (min-width: $break-lg) {
  .showcase {
    margin-bottom: 10vw;
  }
  .gigs-homepage {
    padding-bottom: 10vw;
  }
}
@media only screen and (min-width: $break-xl) {
  .showcase {
    margin-bottom: 300px;
  }
  .gigs-homepage {
    padding-bottom: 10vw;
  }
}
