@import 'variables';

.banner {
  background: $transparent;
  min-height: 100px;

  .banner-container{
    max-width: 889px;
    margin: auto;

    .header-text{
      display: inline-block;
      font-family: $header-fontstack;
      font-size: 6em;
      a {
        text-decoration: none;
        color: $pale-yellow;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .img-container{
      display: block;
      margin: auto;
      .main-logo{
        display: block;
        margin: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        max-width: 400px;
        &:hover {
          opacity: 0.9;
          }
        }
      }
    }
  }

@media only screen and (max-width: 888px) {
  .banner-container {
    .header-text {
      display: inline;
      width: 100%;
      text-align: center;
    }
    .img-container {
      width: 100%;
      .main-logo {
        display: block;
        width: 215px;
        margin-right:auto;
        margin-left:auto;
      }
    }
  }
}
