// Place all the styles related to the Gigs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';


.gigs-homepage, .gigs-index {
  text-shadow: 1px 1px black;
  margin-bottom: 8vw;
  .header {
    font-size: calc(20px + 3vw);
    margin-bottom: -40px;
  }
  .section {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
    height: 40px;
    .info {
      padding: 10px 20px;
      //sets min to at least 10px
      font-size: calc(10px + 1.7vw);
      font-family: $header-fontstack;
      a {
        color: $pale-yellow;
        text-shadow: 1px 1px black;
      }
    }
    .dots {
      flex: 1;
      font-size: 40px;
      max-height: 50px;
      overflow: hidden;
    }
  }
  .all-shows-link{
    margin-top: 4vw;
    font-size: calc(9px + 2vw);
  }
}

.gigs-index {
  .header {
    text-align: center;
    margin-bottom: 3vw;
  }
  .future-shows {
    margin-bottom: 50px;
  }
  .shows-container {
    padding-bottom: 5vw;
  }
}

.gig-show-page {
  .outer-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .iframe html{
    border: 5px solid $pale-yellow;
  }
  .map {
    background: image-url("loading.gif") center center no-repeat;
  }
  .date-time {
    font-family: $header-fontstack;
    font-size: 1.5em;
    margin-bottom: 10px;
    letter-spacing: 1px;
  }
  strong {
    color: $pale-yellow;
    font-family: $header-fontstack;
    letter-spacing: 1px;
  }
  .show-description {
    margin-top: 10px;
    max-width: 450px;
  }
  .row {
    padding-bottom: 5vw;
  }
  .gig-info {
    font-size: calc(10px + 1.4vw);
  }
  .gigs-homepage {
    margin-top: 10vw;
  }
}

.all-shows-link {
  display: block;
  text-align: center;
  font-size: 1.5em;
  font-family: $header-fontstack;
  color: $pale-yellow;
  &:hover {
   color: $pale-yellow;
 }
}

.form-page .gig {
 background-color: white;
 padding: 30px;
 border-radius: 10px;
 * {
   margin-top:20px;
 }
 .date-time {
   color: white;
   font-size: 0px;
   select {
     height: 40px;
     font-size: 16px;
     margin: 2px;
     border: 1px solid gray;
   }
 }
}
#gig_date_1i {
  margin-right: 10px;
}
.new-show-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 0;
  font-size: 1.2em;
}
.lg-spacer{
  height: 30px;
}
