@import 'variables'



html
  background-color: $background-color-brown
  text-transform: uppercase
  h1
    font-family: $header-fontstack
  body
    background-color: $background-color-brown
    color: $pale-yellow
    font-family: $body-fontstack
    .nav-spacer
      height: 1px
      background-color: $light-orange
      margin-top: 70px
  .container
    margin-top: 4%


header
  font-size: 5em
  text-align: center
  font-family: $header-fontstack

.navbar
  background-color: $light-orange
  min-height: 70px
  i.fa-bars
    color: $pale-yellow
  .navbar-brand
    font-family: $header-fontstack
    letter-spacing: 1px
    color: $pale-yellow
    &:hover
      color: $dark-orange

.nav > li > a
  font-family: $header-fontstack
  letter-spacing: 1px
  font-size: 1.5em
  color: $pale-yellow !important
  text-decoration: none
  &:hover
    color: $dark-orange !important

footer
  background-color: $gray
  margin-top: 70px
  padding: 20px
  h1
    color: $background-color-grey
    font-weight: bold
    text-align: center
  .social-nav
    .icons
      padding: 10px
      text-align: center
    i
      padding: 10px
      color: black
