@import 'variables'



html
  background-color: $background-color-brown
  text-transform: uppercase
  height: 100%
  h1
    font-family: $header-fontstack
  body
    background-color: $background-color-brown
    color: $pale-yellow
    font-family: $body-fontstack
    position: relative
    min-height: 100%
    padding-bottom: 6rem
    background-image: url("the815onStage.jpg")
    background-position: bottom
    background-repeat: no-repeat
    background-size: 110%
    .nav-spacer
      height: 1px
      background-color: $light-orange
      margin-top: 70px
  .container
    margin-top: 4%

.nav
  color: rgba(0,0,0,0)
  
header
  font-size: 5em
  text-align: center
  font-family: $header-fontstack

.navbar
  background-color: $light-orange
  min-height: 70px
  i.fa-bars
    color: $pale-yellow
  .navbar-brand
    font-family: $header-fontstack
    letter-spacing: 1px
    color: $pale-yellow
    &:hover
      color: $dark-orange

.nav > li > a
  font-family: $header-fontstack
  letter-spacing: 1px
  font-size: 1.5em
  color: $pale-yellow !important
  text-decoration: none
  &:hover
    color: $dark-orange !important

footer
  position: absolute
  bottom: 0
  right: 0
  left: 0
  padding: 1rem
  .bookjoe, i
    color: $pale-yellow
    margin: 0
  .bookjoe
    font-size: calc(15px + 2vw)

// footer
//   margin-top: 70px
//   padding: 20px
//   .bookjoe
//     display: block
//     color: $pale-yellow
//     &:hover
//       text-decoration: none
//       color: $dark-orange
//   h1
//     color: $background-color-grey
//     font-weight: bold
//     text-align: center
//   .social-nav
//     .icons
//       padding: 10px
//       text-align: center
//     i
//       padding: 10px
//       color: black
//       &:hover
//         color: $dark-orange
