@import 'variables';

.instagram-page {
  margin-bottom: 8vw;
  .insta-header {
    font-size: calc(20px + 3vw);
    text-align: center;
    margin-bottom: 2vw;
    a {
      color: $pale-yellow;
    }

    &:hover {
      color: $dark-orange;
    }
  }
  .insta-link {
    text-shadow: 1px 1px black;
    padding-top: 2vw;
  }
  img{
    max-width: 500px;
  }
  .grid {
    margin: 10vw auto;
    max-width: 1200px;
    @media only screen and (max-width: $break-lg) {
      margin: auto;
    }
    @media only screen and (max-width: $break-sm) {
      margin: auto;
      width: 300px !important;
    }
    @media only screen and (max-width: $break-xs) {
      margin-left: -3px;
    }
  }
  /* clearfix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  /* ---- grid-item ---- */
  .grid-item {
    width: 200px;
    height: 200px;
    float: left;
    img{
      width: 200px;
      height: 200px;
    }
    @media only screen and (max-width: $break-sm) {
      width: 300px;
      height: 300px;
      img {
        width: 300px;
        height: 300px;
      }
    }
  }

  .grid-item--gigante {
    width: 400px;
    height: 400px;
    img {
      width: 400px;
      height: 400px;
    }
    @media only screen and (max-width: $break-sm) {
      width: 300px;
      height: 300px;
      img {
        width: 300px;
        height: 300px;
      }
    }
  }
  .grid-item:hover {
    cursor: pointer;
  }
}

.insta-link a {
  color: $pale-yellow;
  &:hover {
    color: $dark-orange;
  }
}
