<div class="container gigs-homepage">
  <a href="/gigs" class="all-shows-link"><h1 class="container header text-center">Tour</h1></a>

  <div class="container">

    <% @gigs.future_dates[0..4].each do |gig| %>
      <div class="section">
        <div class="info"><%=link_to( "#{gig.date.strftime('%b')} #{gig.date.strftime('%e')}", gig )%></div>
        <span class="dots">...........................................................................................
        </span>
        <div class="info"><%=link_to( "#{gig.city} #{gig.state}", gig ) %></div>
      </div>
    <% end %>

    <% if @gigs.future_dates.count == 0 %> <div class="lg-spacer"></div> <% end %>

    <%= link_to 'All Dates', gigs_path, class: "all-shows-link text-center" %>
  </div>
  <% if user_signed_in? %>
  <div class="lg-spacer"></div>
  <%= link_to 'New Show', new_gig_path, class: "btn new-show-btn btn-primary" %>
  <% end %>
</div>
