<div class="container gigs-homepage">
  <h1 class="container header text-center">Tour</h1>

  <div class="container">

    <% @gigs.future_dates[0..4].each do |gig| %>
      <div class="section">
        <div class="info"><%=link_to( "#{gig.date.strftime('%b')} #{gig.date.strftime('%e')}", gig )%></div>
        <span class="dots">...........................................................................................
        </span>
        <div class="info"><%=link_to( "#{gig.city} #{gig.state}", gig ) %></div>
      </div>
    <% end %>

    <%= link_to 'All Dates', gigs_path, class: "all-shows-link text-center" %>
  </div>

</div>
