<div class="container form-page">
  <h1>Editing Show</h1>

  <%= render 'form', gig: @gig %>

  <%= link_to '<i class="fa fa-arrow-left" aria-hidden="true"></i> Back'.html_safe, gigs_path, class: "back-button btn-primary btn" %>

</div>
