<div class="container about">
  <h1>About</h1>

  <div class="bio">
    <%= image_tag('joepro.jpg', class: "row") %>
    <span class="about-me">
      <p>Joe Risdon plays 'Homegrown' riffs in GreenValley, OH </p>
    </span>
  </div>

</div>
