<div class="banner">
  <div class="banner-container">
    <!-- <div class="header-text hidden-sm-down"><a href="/">Joe Risdon</a></div> -->
    <a href="/">
      <div class="img-container">
        <%= image_tag('JoeText.svg', class: "main-logo") %>
      </div>
    </a>
  </div>
</div>
