<div class="banner">
  <div class="banner-container">
    <a href="/">
      <div class="img-container">
        <%= image_tag('815Text.svg', class: "main-logo") %>
      </div>
    </a>
  </div>
</div>
