<div class="banner">
  <div class="banner-container">
    <div class="header-text hidden-sm-down"><a href="/">Joe Risdon</a></div>
    <div class="img-container"> <%= image_tag('logo-no.png', class: "main-logo") %> </div>
  </div>
</div>
