<div class="instagram">
  <h1 class="container">Instagram</h1>

  <div class="photos_container row">
    <% instagramposts[0..8].each do |image|%>
      <div> <img src="<%=image['images']['low_resolution']['url']%>" alt="..."> </div>
    <% end %>
  </div>

</div>

<script>
  $(document).ready(function(){
    $("#show_more_images").click(function(){
      $(".hidden_images").toggle()
    })
  });
</script>
