<div class="container showcase">
<div class="header">
  <h1>OUT NOW</h1>
  <h1>"THE 815 TAPES"</h1>
</div>

<div class="album d-flex justify-content-center">
  <!-- <div class="album-art"><%= image_tag('815Tapes.jpg') %></div> -->
  <iframe src="https://bandcamp.com/EmbeddedPlayer/album=4146815154/size=large/bgcol=333333/linkcol=ffd36f/minimal=true/transparent=true/" seamless><a href="http://joerisdon.bandcamp.com/album/the-815-tapes">The 815 Tapes by Joe Risdon and The 815</a></iframe>
</div>


</div>
