<div class="container showcase">
  <div class="header">
    <h1>Watch NOW &darr;</h1>
    <h1>"LIVE FROM ARC"</h1>
  </div>

  <div class="album d-flex justify-content-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/6Q4u_PBnNew" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

</div>
