<li class="nav-item">
  <a class="nav-link" href="/albums">Music</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/insta">Feed</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/gigs">Tour</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="<%=MERCH_LINK%>" target="blank">Merch</a>
</li>
