<li class="nav-item">
  <a class="nav-link" href="/albums">Music</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/gigs">Gigs</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="<%=INSTAGRAM_LINK%>" target="blank">Feed</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="<%=MERCH_LINK%>" target="blank">Merch</a>
</li>
