<title>Joe Risdon Music</title>
<%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Social OG meta tags START -->
<meta property="og:title" content="Joe Risdon Music 'The 815 Tapes' Out Now!">
<meta property="og:description" content="'The 815 Tapes' Out Now">
<meta property="og:image" content="http://www.joerisdon.com/images/fb_og_img3.jpg">
<meta property="og:url" content="http://www.joerisdon.com">

<meta name="twitter:title" content="Joe Risdon Music">
<meta name="twitter:description" content="'The 815 Tapes' Out Now">
<meta name="twitter:image" content="http://www.joerisdon.com/images/fb_og_img3.jpg">
<meta name="twitter:card" content="summary_large_image">
<!-- Social END -->

<%= stylesheet_link_tag    'application', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<% if @script_link %>
<%= javascript_include_tag @script_link, 'data-turbolinks-track': 'reload' %>
<% end %>

<script src="https://use.fontawesome.com/a0f97c16fd.js"></script>
